/* ------------- COLOR THEME ---------------- */
#color-maroon{
    color:#4b0606;
}
#color-dark-grey{
    color:#292828;
}
#color-light-grey{
    color:#716f6f;
}


/*-------NAV BAR------*/

#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
    background: #292828 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a {
    float: right;
    text-align: left;
    
}
#nav-bar ul li a:hover{
    color: #007bff !important;
}
.navbar{
    background: #292828 !important;
}
.navbar-toggler{
    border: none !important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/* ---------------- HEADER ------------------- */
.bg-1 {

    background: linear-gradient( rgba(71, 60, 60, 0.6), rgba(83, 44, 44, 0.8)), url("../images/jasper.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #87A8EE; /* blue */
    
    color: #ffffff;
    
}
#header h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#header h1::after{
    content:'';
    background:#efefef;
    display:block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

/* -------------- PROFILE PICTURE ------------- */
.user{

    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: visible;
    margin: 0 auto;
    top: 50px;
    background-color: #efefef;
}
.profile img{
    top:-60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.about{
    margin-top:10px;
    margin-bottom: 140px;
    margin-right:140px;
    margin-left: 10px;
    width: 50%;
    height: 50%;
    border: 2px solid #ffffff;
    background: #292828;
}
/*---------- SKILLS ------------------ */

.wrapper{
    display:grid;
    /* grid-template-columns:1fr 1fr 1fr;*/
    grid-template-columns:repeat(2, 1fr);
    grid-gap:1em;
    background-color:#6b6969;
    margin-top: 10px;
    /* grid-auto-rows:100px; */
    /*grid-auto-rows: minmax(100px, auto);*/
}
.description{
    background: #ffffff;
}
.skills{
    background: #292828;
}
.skills:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.7s;
}
.skills h2{
    color: #fff;
}
.work{
    background: #292828;
}
.work h2{
    color: #fff;
}
.work:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.7s;
}
.education{
    background: #292828;
}
.education:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.7s;
}
.education h2{
    color: #fff;
}
.volunteer{
    background: #292828;
}
.volunteer:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.7s;
}
.volunteer h2{
    color: #fff;
}
.projects{
    background: #292828;
}
.projects:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.7s;
}
.projects h2{
    color: #fff;
}
.interests{
    background: #292828;
}
.interests:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.7s;
}
.interests h2{
    color: #fff;
}

/*--------------FONT AWESOME--------------*/
.fa{
    font-family: 'FontAwesome' !important;
    height:20px;
    width:20px;
    color: #fff !important;
    /*background:#fff;*/
    padding:4px;
    border-radius: 50%;
}
#team .fa{
    height:25px;
    width:25px;
    color: #007bff !important;
    background:#fff;
    padding: 4px;
    border-radius: 50%;
}

/*--------------- GET IN TOUCH --------------------*/

#contact{
    background:#efefef;
    padding-top: 40px;
    padding-bottom:40px;
    color: #777;
}

.contact-form{
    padding:15px;
}
.form-control{
    border-radius:0 !important;
    border: none !important;
}
::placeholder{
    color:#999 !important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin:15px;

}
.contact-info .fa{
    margin: 10px;
    color: #007bff !important;
    font-weight: bold;
}

/*-------------FOOTER-------------*/
#footer{
    background: #333;
    color:#fff;
    padding: 12px;
}
.fa-heart-o{
    margin:3px;
    color:red;
}